version: "3.9"

services:

    quiz-app:
        container_name: quiz-app
        build:
            context: ./
            dockerfile: Dockerfile
        working_dir: /app
        command: 'php artisan serve --host=0.0.0.0'
        tty: true
        stdin_open: true
        restart: unless-stopped
        volumes:
            - ../:/app
        ports:
            - "9001:8000"
        networks:
            - application
        depends_on:
            - quizapp-db

    quizapp-db:
        platform: linux/x86_64
        image: mysql:8.0
        container_name: quizapp-db
        environment:
            MYSQL_DATABASE: quizapp
            MYSQL_USER: admin
            MYSQL_ROOT: admin
            MYSQL_PASSWORD: root
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - ../storage/dbdata:/var/lib/mysql
        ports:
            - "3310:3306"
        networks:
            - application

    quizapp-queue:
        container_name: quizapp-queue
        build:
            context: ./
            dockerfile: Dockerfile
        working_dir: /app
        command: 'php artisan queue:work'
        tty: true
        stdin_open: true
        restart: unless-stopped
        volumes:
            - ../:/app
        networks:
            - application
        depends_on:
            - quizapp-db
            - quiz-app

networks:
    application:
        name: application
        driver: bridge
